{% extends "layout.html" %}
{% block body %}
<div id="mainblock">
    <div id="chatcontainer">
        <h1>Welcome to distributed chat!</h1>
        <h2>Front friend's address: {{ front_friend }}</h2>
        <h2>Back friend's address: {{ back_friend }}</h2>
        <h2>Leaders's address: {{ back_friend }}</h2>
        <label>{{ test }}</label>
        <h2>Messages</h2>
        <hr>
        {% for message in messagelist %}
            <label for="id_{{message}}">{{message}}</label>
            <hr>
        {% endfor %}

        <h2>New message</h2>
        <form action="" method="post">
            <textarea rows="2" cols="50" placeholder="Your message" name="message"
                      value="{{ request.form.message }}"></textarea>
            <input type="hidden" value="IN_REGULAR_MESSAGE" name="message_type" />
            <input type="submit" value="Chat">
        </form>
    </div>
</div>
{% endblock %}